*{
    margin:0;
}
.header_section{
    width: 100%;
    height: 55.3vh;
    background-color: #ff4c68;
}

.header_inner{
    padding-left: 15%;
    padding-top: 4%;
    padding-right: 15%;
}
.tindog{
    font-family: sans-serif;
    font-size: 2rem;
    color: white;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav_titles{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    color: white;
    font-size: 1.2rem;
    opacity: 70%;
}
.nav_title:hover{
    cursor: pointer;
    opacity: 100%;
}
.header_main{
    display: flex;
    height: 25rem;
}
.header_left{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    height: 78.8%;
}
.header_right{
    flex: 0.6;
    height: 78.8%;
    overflow: hidden;
}
.landing_text{

    margin-top: 40px;
    font-size: 35px;
    color: white;
    margin-bottom: 1rem;
    font-weight: 200;
}
.button{
    padding-top: 20px;
}
.apple_btn{
    background-color: black;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    padding: 10px 15px;
    margin-right: 1rem;
}
.btn:hover{
    cursor: pointer;
}
.android_btn{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    font-size: 1.2rem;

}
img{
    height: 180%;
    transform: rotate(30deg);
    padding-top: 40px;
    padding-left: 5%;
}
.mid_one{
    
    display: flex;
    height: 50vh; 
    
}
.one{
    text-align: center;
    margin: auto;
    width: 20%;
}
.one_head{
    font-size: 20px;
    font-weight: 100;
}
.one_para{
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 60%;
    font-size: 15px;
}
.fa{
    color: #FF4C68;
    margin-bottom: 10px;
}